.root {
  :global(.adm-image-viewer-indicator) {
    opacity: 0;
  }
  :global(.adm-image-viewer-indicator) {
    opacity: 0;
  }
  :global(.adm-image-viewer-slide) {
    overflow: hidden;
  }
}

.timer {
  position: absolute;
  z-index: 2000;
  font-size: var(--adm-font-size-main);
  right: 10Px;
  top: 10Px;
  background-color: transparent;
  transition: 500ms all;
  border-radius: 70Px;
  user-select: none;
}

.timewran {
  right: calc(50% - 35Px);
  top: calc(50% - 35Px);
  transform: scale(3);
  border-radius: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px #0000006f;
}

.nav {
  position: relative;
  z-index: 2000;
  color: var(--adm-color-white);
  opacity: 0.5;
}