.nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.root {
  padding: 100px 12px 12px;
}

.subnav {
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
}

.play {
  --initial-position-bottom: 24Px;
  --initial-position-right: 24Px;
  --edge-distance: 24Px;
  --background: var(--adm-color-secondprimary);
}
