
.root {
  margin: 10Px;
  min-height: 100vh;
  overflow-y: auto;
}

.wrap {
  min-height: 100vh
}

.subnav {
  background-color: var(--adm-color-fill-content);
  border-bottom: 1px solid var(--adm-border-color);
}

.play {
  --initial-position-bottom: 24Px;
  --initial-position-right: 24Px;
  --edge-distance: 24Px;
  --background: var(--adm-color-danger);
}

.disablePlay {
  --background: var(--adm-color-weak);
}

.menu {
  position: fixed;
  right: 10Px;
  top: 10Px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .btn {
    width: 35Px;
    height: 35Px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #fff;
    overflow: hidden;
  }
}