.nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--adm-color-white);;
}

.root {
  padding: 55Px 12px 12px;
}

.subnav {
  background-color: var(--adm-color-fill-content);
  border-bottom: 1px solid var(--adm-border-color);
}

.play {
  --initial-position-bottom: 24Px;
  --initial-position-right: 24Px;
  --edge-distance: 24Px;
  --background: var(--adm-color-secondprimary);
}
