.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main {
        text-align: left;
        > span {
            color: var(--adm-color-weak);
        }
    }

    span {
        color: var(--leva-colors-accent2);
        font-size: 25px;
        cursor: pointer;
    }
}

.wx {
    img {
        max-width: 500px;
    }
}