:root {
    --adm-color-primary: #666;
    --adm-color-secondprimary: #008d6e;
}

body.adm-overflow-hidden {
    padding: 0;
    margin: 0;
    background-color: #dfdfdf;
    overflow: auto !important;
}

html body.adm-overflow-hidden {
    overflow: auto !important;
}