.root {
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.head {
    height: 200px;
    width: 90vw;
}

.button {
    width: 48Px;
    height: 48Px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.nav {
    width: 260Px;
}

.imgs {
    border-radius: 260Px;
    overflow: hidden;
    height: 260Px;
    width: 260Px;
    background: #000;
}
.swp {
    height: 260Px;
    width: 260Px;
    margin: 0 auto 20Px auto;
}
.top {
    text-align: center;
}

.info {
    color: var(--adm-color-light);
    padding-bottom: 20Px;
    display: inline-block;
}